<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/head :: head(title='Home')}">
    <title>Home</title>
</head>

<body>

    <div class="container">
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="row2">
                <h1 class="white">Technology. Redefined.</h1>
                <p class="white">Get a step ahead of tomorrow today with our state of the art A.I models, in trained
                    and untrained variants. Your world is about to be transformed.</p>
                <a href="products" class="button">View Our Catalogue</a>
            </div>
            <div class="row2">
                <img src="droid.png" alt="Droid">
            </div>
        </div>
    </div>
</body>

</html>